atomicwrites==1.2.1
attrs==18.2.0
boto3==1.9.28
botocore==1.12.28
docutils==0.14
jmespath==0.9.3
mirakuru==1.1.0
more-itertools==4.3.0
pluggy==0.8.0
port-for==0.4
psutil==5.4.7
py==1.7.0
pynamodb==3.3.1
pytest==3.9.1
pytest-dynamodb==1.2.0
python-dateutil==2.7.3
s3transfer==0.1.13
six==1.11.0
urllib3==1.23
