appdirs==1.4.3
atomicwrites==1.2.1
attrs==18.2.0
black==18.9b0
boto3==1.9.28
botocore==1.12.28
Click==7.0
click-plugins==1.0.4
cligj==0.5.0
docutils==0.14
dynageo==0.1
Fiona==1.7.13
jmespath==0.9.3
mirakuru==1.1.0
more-itertools==4.3.0
munch==2.3.2
pluggy==0.8.0
port-for==0.4
psutil==5.4.7
py==1.10.0
pynamodb==3.3.1
pyshp==2.0.1
pytest==3.9.1
pytest-dynamodb==1.2.0
python-dateutil==2.7.3
s3transfer==0.1.13
six==1.11.0
SQLAlchemy==1.2.14
toml==0.10.0
urllib3==1.23
